* {
    background-color: #2c2929;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: space-between;
}

.image {
    border: 1px solid;
    padding: 75px 268px 73px 297px;
}

.main-content {
    width: 69.14%;

}

.main-content-text {
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
    font-family: sans-serif;
}

.main-title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}

.main-title-link {
    text-decoration: none;
}
.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-style {
    color: white;
    font-family: sans-serif;
    border-radius: 11px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #010101;
    margin: 10px;
    padding: 10px;
    background-color: #413f3f;

}

.button-style:hover {
    background: #0e0e0e;
}

.top-menu {
    display: flex;
    list-style: none;
    background-color: #181717;
    height: 69px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.top-menu li a {
    text-decoration: none;
    color: #FFFFFF;
}

.top-menu li:hover {
    background: #0e0e0e;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-family: sans-serif;
    background-color: #181717;
}
.bottom-menu {
    display: flex;
    list-style: none;
    padding: 0;
    background-color: #181717;
}

.bottom-menu li a {
    text-decoration: none;
    font-size: 28px;
    color: #d0d6dc;
    background-color: #181717;


}
.bottom-menu li {
    margin-right: 20px;
}

.bottom-menu li a:hover {
    border-bottom: 1px solid #3181A6;
    padding-bottom: 13px;
}
.copyright {
    font-size: 24px;
    color: #010101;
    background-color: #181717;
}

.aside {
    width: 26.8%;

}

.aside-menu {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;


}


.aside-menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;


}
.aside-menu ul li {
    padding: 27px 0 27px 42px;
    font-family: sans-serif;
    transition: padding .2s ease-in-out;
}


.aside-menu ul li a {
    text-decoration: none;
    color: white;

}

.aside-menu ul li:hover {
    background: #1e1c1c;
    padding: 27px 0 27px 80px;
}

.black {
    color: black;
}

.blue {
    color: #4BCAFF;
}

.list-item1, .list-item2, .list-item3, .list-item4 {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 33px;
    border-left: 1px solid;
    color: #FFFFFF;
    background-color: #181717;
}
