
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: space-between;
}

.image {
    border: 1px solid;
    padding: 75px 268px 73px 297px;
}

.main-content {
    width: 69.14%;
    font-size: 18px;
}

.main-title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-style {
    color: white;
    font-family: sans-serif;
    border-radius: 11px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #010101;
    margin: 10px;
    padding: 10px;
    background-color: #413f3f;

}

.button-style:hover {
    background: #0e0e0e;
}


.main-title-link {
    text-decoration: none;
}
.top-menu {
    display: flex;
    list-style: none;
    background-color: #35444F;
    height: 69px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.top-menu li a {
    text-decoration: none;
    color: #FFFFFF;
}

.top-menu li:hover {
    background: #222F3A;
}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
    padding: 0 40px;
    font-family: sans-serif;
}
.bottom-menu {
    display: flex;
    list-style: none;
    padding: 0;
}

.bottom-menu li a {
    text-decoration: none;
    font-size: 28px;
    color: #0C1927;


}
.bottom-menu li {
    margin-right: 20px;
}

.bottom-menu li a:hover {
    border-bottom: 1px solid #3181A6;
    padding-bottom: 13px;
}
.copyright {
    font-size: 24px;
    color: #010101;
}

.aside {
    width: 26.8%;

}

.aside-menu {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;


}


.aside-menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;


}
.aside-menu ul li {
    padding: 27px 0 27px 42px;
    font-family: sans-serif;
    transition: padding .2s ease-in-out;
}


.aside-menu ul li a {
    text-decoration: none;
    color: #485863;

}

.aside-menu ul li:hover {
    background: #DBDBDB;
    padding: 27px 0 27px 80px;
}

.black {
    color: black;
}

.blue {
    color: #4BCAFF;
}

.list-item1 {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 33px;
    border-left: 1px solid;
    color: #FFFFFF;
}

.list-item2 {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 33px;
    border-left: 1px solid;
    color: #FFFFFF;
}

.list-item3 {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 33px;
    border-left: 1px solid;
    color: #FFFFFF;
}

.list-item4 {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 33px;
    border-left: 1px solid;
    border-right: 1px solid;
    color: #FFFFFF;
}
